[Unit]
Description=SPR Simulator
After=network.target

[Service]
User=l
WorkingDirectory=/home/l/la-7.eu/SPR-simulator/backend
ExecStart=/home/l/la-7.eu/SPR-simulator/.venv/bin/uvicorn main:app --host 127.0.0.1 --port 8004
Restart=on-failure

[Install]
WantedBy=multi-user.target
